build/
cmake-build-*/
out/
dist/
_release/
*.db
*.db-shm
*.db-wal
*.log
*.pid
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.pdb
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.ipk
*.apk
.vscode/
.idea/
*.swp
*.tmp
Thumbs.db
Desktop.ini